<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="fairino3_v6_robot">
  <xacro:macro name="fairino3_v6_robot_ros2_control" params="name initial_positions_file sim">
    <xacro:property name="initial_positions" value="${load_yaml(initial_positions_file)['initial_positions']}"/>

    <webots>
      <!-- <device reference="chuck_connector" type="Connector">
        <ros>
          <topicName>/chuck_connector</topicName>
        </ros>
      </device> -->
      <plugin type="webots_ros2_control::Ros2Control"/>
    </webots>

    <ros2_control name="${name}" type="system">
      <hardware>
        <xacro:if value="${sim}">
          <plugin>webots_ros2_control::Ros2ControlSystem</plugin>
        </xacro:if>
        <xacro:unless value="${sim}">
          <plugin>fairino_hardware/FairinoHardwareInterface</plugin>
        </xacro:unless>
      </hardware>
      <joint name="j1">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['j1']}</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="j2">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['j2']}</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="j3">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['j3']}</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="j4">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['j4']}</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="j5">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['j5']}</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="j6">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['j6']}</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <gpio name="tool_IO">
        <command_interface name="AO0"/>
        <command_interface name="DO0"/>
        <command_interface name="DO1"/>
        <state_interface name="AO0"/>
        <state_interface name="AI0"/>
        <state_interface name="DO0"/>
        <state_interface name="DO1"/>
        <state_interface name="DI0"/>
        <state_interface name="DI1"/>
      </gpio>
      <gpio name="control_box_IO">
        <command_interface name="AO0"/>
        <command_interface name="AO1"/>
        <command_interface name="DO0"/>
        <command_interface name="DO1"/>
        <command_interface name="DO2"/>
        <command_interface name="DO3"/>
        <command_interface name="DO4"/>
        <command_interface name="DO5"/>
        <command_interface name="DO6"/>
        <command_interface name="DO7"/>
        <command_interface name="DO8"/>
        <command_interface name="DO9"/>
        <command_interface name="DO10"/>
        <command_interface name="DO11"/>
        <command_interface name="DO12"/>
        <command_interface name="DO13"/>
        <command_interface name="DO14"/>
        <command_interface name="DO15"/>
        <command_interface name="DO16"/>
        <state_interface name="AO0"/>
        <state_interface name="AO1"/>
        <state_interface name="AI0"/>
        <state_interface name="AI1"/>
        <state_interface name="DO0"/>
        <state_interface name="DO1"/>
        <state_interface name="DO2"/>
        <state_interface name="DO3"/>
        <state_interface name="DO4"/>
        <state_interface name="DO5"/>
        <state_interface name="DO6"/>
        <state_interface name="DO7"/>
        <state_interface name="DO8"/>
        <state_interface name="DO9"/>
        <state_interface name="DO10"/>
        <state_interface name="DO11"/>
        <state_interface name="DO12"/>
        <state_interface name="DO13"/>
        <state_interface name="DO14"/>
        <state_interface name="DO15"/>
        <state_interface name="DO16"/>
        <state_interface name="DI0"/>
        <state_interface name="DI1"/>
        <state_interface name="DI2"/>
        <state_interface name="DI3"/>
        <state_interface name="DI4"/>
        <state_interface name="DI5"/>
        <state_interface name="DI6"/>
        <state_interface name="DI7"/>
        <state_interface name="DI8"/>
        <state_interface name="DI9"/>
        <state_interface name="DI10"/>
        <state_interface name="DI11"/>
        <state_interface name="DI12"/>
        <state_interface name="DI13"/>
        <state_interface name="DI14"/>
        <state_interface name="DI15"/>
        <state_interface name="DI16"/>
      </gpio>
    </ros2_control>
  </xacro:macro>
</robot>
