<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="fairino3_v6_robot">
  <xacro:macro name="fairino3_v6_robot_ros2_control" params="name initial_positions_file sim">
    <xacro:property name="initial_positions" value="${load_yaml(initial_positions_file)['initial_positions']}"/>

    <webots>
      <!-- <device reference="chuck_connector" type="Connector">
        <ros>
          <topicName>/chuck_connector</topicName>
        </ros>
      </device> -->
      <plugin type="webots_ros2_control::Ros2Control"/>
    </webots>

    <ros2_control name="${name}" type="system">
      <hardware>
        <xacro:if value="${sim}">
          <plugin>webots_ros2_control::Ros2ControlSystem</plugin>
        </xacro:if>
        <xacro:unless value="${sim}">
          <plugin>fairino_hardware/FairinoHardwareInterface</plugin>
        </xacro:unless>
      </hardware>
      <joint name="j1">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['j1']}</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="j2">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['j2']}</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="j3">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['j3']}</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="j4">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['j4']}</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="j5">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['j5']}</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="j6">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['j6']}</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <gpio name="tool_IO">
        <command_interface name="AI0"/>
        <command_interface name="DI0-7"/>
        <state_interface name="AO0"/>
        <state_interface name="DO0-7"/>
      </gpio>
      <gpio name="controller_IO">
        <command_interface name="AI0"/>
        <command_interface name="AI1"/>
        <command_interface name="DI0-15"/>
        <state_interface name="AO0"/>
        <state_interface name="AO1"/>
        <state_interface name="DO0-15"/>
      </gpio>
    </ros2_control>
  </xacro:macro>
</robot>
